%div
  .span-4.border<
    %p<
      %a{:href => "#"}>= "#{vigilador.apellido}, #{vigilador.nombre}"
  - if (vigilador.datos.size > 0)
    - vigilador.datos.each do |dato|
      .span-1.border<
        %p>= render_dato(vigilador, dato)
  .span-1<
    %p<
      %a{:href => "#", :class => "link-edit"}>= image_tag("pencil.png")
  .span-1.last<
    %p<
      %a{:href => "#", :class => "link-delete"}>= image_tag("cross.png")
~#  .span-1<
~#    %p<
~#      %a{:href => "#"}>= image_tag("add.png")