= content_tag(:label, dato.valor, :id => "dato_#{dato.id}_costo", :name => "dato[#{dato.id}][costo]", :style => "width: 50px;", :class => "editable")
- if dato.elemento.facturable?
  = render :partial => "common/elemento_facturable", :locals => { :dato => dato }